body {
  font-family: "Roboto", Arial, sans-serif;
  margin: 0;
  padding: 0;
  color: #fff;
  background-color: #252525;
}

.navbar-container {
  display: flex;
  justify-content: space-around;
  background-color: #535353;
}

.navbar-item {
  display: inline-block;
  color: white;
  text-decoration: none;
  padding: 1rem 2rem;
}

.navbar-item:hover {
  background-color: #a5a5a5;
  border-radius: 5px;
  color: #000;
}

.projects-container {
  width: 60%;
  margin: 0 auto;
  text-align: center;
}

.project-link {
  margin: 3rem 0;
}

.project-link a {
  text-decoration: none;
  background-color: #a5a5a5;
  color: #000;
  padding: 1rem 3rem;
  border-radius: 5px;
  cursor: pointer;
}

.project-link a:hover {
  background-color: #209cee;
  color: #fff;
}
